mixin searchScreen(data)
	+b.search-screen

		+e.container

			+e.heading Search

			+e.FORM.search-bar.search-bar__.--search-screen
				+e.INPUT.input.--search-screen(id="search-query" type = "text" placeholder="Type what you're looking for..." )
				+e.bottom-line

			+e.UL.results.search-results__

				+e.item.search-results-item__.--post
					+e.img(src="assets/img/gallery/plant-thumbnail.jpg")
					+e.right-side
						+e.heading Lorem ipsum dolor sit amet
						+e.P.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, maiores! Veniam exercitationem cumque consectetur repudiandae tempora voluptates possimus delectus maxime provident quam esse atque a, et optio nostrum nihil quidem...
						+e.A.button.link-button__.--color_accent-light
							+e.text Read more
							+e.SVG.icon.arrow-icon
								use(xlink:href="#arrow-icon__arrow2")

				+e.item.search-results-item__.--post
					+e.img(src="assets/img/gallery/plant-thumbnail.jpg")
					+e.right-side
						+e.heading Lorem ipsum dolor sit amet
						+e.P.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, maiores! Veniam exercitationem cumque consectetur repudiandae tempora voluptates possimus delectus maxime provident quam esse atque a, et optio nostrum nihil quidem...
						+e.A.button.link-button__.--color_accent-light
							+e.text Read more
							+e.SVG.icon.arrow-icon
								use(xlink:href="#arrow-icon__arrow2")




