mixin menuScreen(data)
	+b.menu-screen
		+e.container
			+e.close-button
			+e.row--centred 
				+e.H2.heading Menu
			+e.row--centred 
				+e.UL.menu
					+e.menu-item 
						+e.menu-link Home
					+e.menu-item 
						+e.menu-link About us
					+e.menu-item 
						+e.menu-link Blog
					+e.menu-item 
						+e.menu-link Gallery
					+e.menu-item
						+e.menu-link Pages

