mixin newsRow(data)
	+b.SECTION.news-row.section

		+e.container

			+e.row--centred 
				+e.H2.heading.section-heading__.--centred Latest news
					+e.dots
						+e.dot
						+e.dot
						+e.dot
						
		+e.container
			+e.row
				+e.col

					+e.buttons
							+e.SVG.button-prev.nav-buttons__.--dark
								use(xlink:href="#nav-buttons__button-prev")
							+e.SVG.button-next.nav-buttons__.--dark
								use(xlink:href="#nav-buttons__button-next")

					+e.slider.slider

						+e.slider-wrapper.slider__wrapper

							+e.slide.slider__slide
								+e.ARTICLE.post
									+e.A.post-img-link(href="#")
										+e.post-img(src="assets/img/news-row/post-img.jpg" style="max-width:400px;")
									+e.H3.post-heading Climate change: is it coming?
									+e.P.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua...
									+e.A.button.link-button__.--color_accent-light(href="#")
										+e.text Read more 
										+e.SVG.icon.arrow-icon
											use(xlink:href="#arrow-icon__arrow2")
								
								+e.FOOTER.footer
									+e.footer-boxes
										
										+e.A.footer-box.comment-box__(href="#")
											+e.SVG.icon
												use(xlink:href="#news-row__comment")
											+e.SPAN.number 486
										
										+e.A.footer-box.views-box__(href="#")
											+e.SVG.icon
												use(xlink:href="#news-row__views")
											+e.SPAN.number 1255
									
									+e.date December 26,2017

							+e.slide.slider__slide
								+e.ARTICLE.post
									+e.A.post-img-link(href="#")
										+e.post-img(src="assets/img/news-row/post-img.jpg")
									+e.H3.post-heading Climate change: is it coming?
									+e.P.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua...
									+e.A.button.link-button__.--color_accent-light(href="#")
										+e.text Read more 
										+e.SVG.icon.arrow-icon
											use(xlink:href="#arrow-icon__arrow2")
								
								+e.FOOTER.footer
									+e.footer-boxes
										
										+e.A.footer-box.comment-box__(href="#")
											+e.SVG.icon
												use(xlink:href="#news-row__comment")
											+e.SPAN.number 486
										
										+e.A.footer-box.views-box__(href="#")
											+e.SVG.icon
												use(xlink:href="#news-row__views")
											+e.SPAN.number 1255
									
									+e.date December 26,2017

							+e.slide.slider__slide
								+e.ARTICLE.post
									+e.A.post-img-link(href="#")
										+e.post-img(src="assets/img/news-row/post-img.jpg")
									+e.H3.post-heading Climate change: is it coming?
									+e.P.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua...
									+e.A.button.link-button__.--color_accent-light(href="#")
										+e.text Read more 
										+e.SVG.icon.arrow-icon
											use(xlink:href="#arrow-icon__arrow2")
								
								+e.FOOTER.footer
									+e.footer-boxes
										
										+e.A.footer-box.comment-box__(href="#")
											+e.SVG.icon
												use(xlink:href="#news-row__comment")
											+e.SPAN.number 486
										
										+e.A.footer-box.views-box__(href="#")
											+e.SVG.icon
												use(xlink:href="#news-row__views")
											+e.SPAN.number 1255
									
									+e.date December 26,2017

							+e.slide.slider__slide
								+e.ARTICLE.post
									+e.A.post-img-link(href="#")
										+e.post-img(src="assets/img/news-row/post-img.jpg")
									+e.H3.post-heading Climate change: is it coming?
									+e.P.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua...
									+e.A.button.link-button__.--color_accent-light(href="#")
										+e.text Read more 
										+e.SVG.icon.arrow-icon
											use(xlink:href="#arrow-icon__arrow2")
								
								+e.FOOTER.footer
									+e.footer-boxes
										
										+e.A.footer-box.comment-box__(href="#")
											+e.SVG.icon
												use(xlink:href="#news-row__comment")
											+e.SPAN.number 486
										
										+e.A.footer-box.views-box__(href="#")
											+e.SVG.icon
												use(xlink:href="#news-row__views")
											+e.SPAN.number 1255
									
									+e.date December 26,2017


							







