mixin newsRow(data)
	+b.SECTION.news-row.section
		+e.container
			+e.row--centred 
				+e.section-heading.--centred Latest news
					+e.dots
						+e.dot
						+e.dot
						+e.dot
		+e.container
			+e.row
				+e.col
					+e.slider

						.slider__wrapper

						+e.slide.slider__slide
							+e.ARTICLE.post
								+e.post-img
								+e.H2.post-heading Climate change: is it coming after all?
								+e.P.post-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua...
								+e.A.button.link-button__.--color_accent-light
									+e.text Read more 
									+e.icon






