mixin textSection(data)
	+b.text-section.section
		+e.container

			+e.row
				+e.heading.section-heading__.--centred About us
					+e.dots
						+e.dot
						+e.dot
						+e.dot

			+e.row
				+e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				+e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem. Expedita nemo ut, vero reprehenderit eos quos magnam neque necessitatibus soluta deleniti laborum tenetur nulla a ullam. Soluta, molestias explicabo.

				+e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quam quod fugiat dolor culpa. Vitae, eveniet quae quasi a nam corporis reiciendis molestiae nihil ipsa hic, atque facere dolorum aut.