mixin partnersRow(data)
	+b.partners-row

		+e.container

			+e.row 
				
				+e.heading Just some companies I think are awesome 

			+e.row

				+e.col
					+e.logo(src="assets/img/partners-row/logo-youtube.png")
				+e.col
					+e.logo(src="assets/img/partners-row/logo-amazon.png")
				+e.col
					+e.logo(src="assets/img/partners-row/logo-microsoft.png")
				+e.col
					+e.logo(src="assets/img/partners-row/logo-adobe.png")