.nav-bar
	background-color: $main-light
	height: 7.0rem 
	display: flex
	align-items: center
	@extend .fixed-top

.nav-bar__container
	@extend .container

.nav-bar__row 
	@extend .row
	height: 100% 

.nav-bar__logo
	align-self: center

.nav-bar__menu
	margin: 0 0 0 auto
	display: none 
	padding: 0 6.0rem 0 0
	align-self: center
	+media-breakpoint-up(lg)
		display: block

.nav-bar__buttons
	align-self: center
	margin: 0 0 0 auto
	display: flex
	+media-breakpoint-up(lg)
		margin: 0

.nav-bar__menu-button
	display: block 
	+media-breakpoint-up(lg)
		display: none 