mixin projects(data)
	+b.projects.section

		+e.container

			+e.row--centred 
				+e.H2.heading.section-heading__.--centred Projects
					+e.dots
						+e.dot
						+e.dot
						+e.dot

			+e.row
			
				+b.project
			
					+e.img-box
						+e.img(src="assets/img/projects/windmills-2.jpg")
					
					+e.row
						+e.number-box
							+e.SPAN.number 01

							+e.stripe-group
								+e.stripe
								+e.stripe
							
							+e.stripe-group
								+e.stripe
								+e.stripe
						
						
						+e.tags
							+e.SPAN.tag Ecoenergy
							+e.SPAN.tag Construction
							+e.SPAN.tag Ecology

						
						+e.bg

					+e.info
						
						+e.H2.heading A sample heading 
						+e.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat dolores neque excepturi consectetur ipsam dolorem ducimus voluptatibus magnam, asperiores omnis minima provident voluptates deserunt facilis, rerum fugit repellat harum cupiditate!
						+e.A.button.link-button__.--color_accent-light(href="#")
							+e.text Read more 
							+e.SVG.icon.arrow-icon
								use(xlink:href="#arrow-icon__arrow2")
			
				+b.project--ltr
				
						+e.img-box
							+e.img(src="assets/img/projects/dam.jpg")
						
						+e.row
							+e.number-box
								+e.SPAN.number 02

								+e.stripe-group
									+e.stripe
									+e.stripe
								
								+e.stripe-group
									+e.stripe
									+e.stripe
							
							
							+e.tags
								+e.SPAN.tag Ecoenergy
								+e.SPAN.tag Construction
								+e.SPAN.tag Ecology

							
							
							+e.bg

						+e.info
							
							+e.H2.heading A different sample here
							+e.text   Lorem ipsum dolor sit amet,cing elit. Quasi numquam nam natus! Ipsam iure tenetur laborum, saepe consectetur deserunt nostrum aliquid atque laboriosam praesentium mollitia, dolor. Excepturi eum doloribus ipsam voluptatibus debitis aspernatur quaerat reiciendis sapiente ullam libero id autem perferendis, ab, minus, eligendi repellendus. Officiis blanditiis non perspiciatis, incidunt ipsum quas at corporis a provident expedita debitis culpa iure architecto quos!
							+e.A.button.link-button__.--color_accent-light(href="#")
								+e.text Read more 
								+e.SVG.icon.arrow-icon
									use(xlink:href="#arrow-icon__arrow2")

				+b.project
			
					+e.img-box
						+e.img(src="assets/img/projects/windmills-2.jpg")
					
					+e.row
						+e.number-box
							+e.SPAN.number 03

							+e.stripe-group
								+e.stripe
								+e.stripe
							
							+e.stripe-group
								+e.stripe
								+e.stripe
						
						
						+e.tags
							+e.SPAN.tag Ecoenergy
							+e.SPAN.tag Ecology

						
						+e.bg

					+e.info
						
						+e.H2.heading A slightly longer one
						+e.text   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consequuntur adipisci in consectetur dolorum laborum suscipit distinctio, illo repellat pariatur. Itaque repudiandae quasi beatae delectus impedit voluptas deserunt iure libero cum voluptate quam sunt, dolor exercitationem? Minus quia similique facilis accusamus qui excepturi quae molestiae maxime necessitatibus deleniti nam, quasi.
						+e.A.button.link-button__.--color_accent-light(href="#")
							+e.text Read more 
							+e.SVG.icon.arrow-icon
								use(xlink:href="#arrow-icon__arrow2")