mixin projects(data)
	+b.projects.section

		+e.container

			+e.row--centred 
				+e.H2.heading.section-heading__.--centred Projects
					+e.dots
						+e.dot
						+e.dot
						+e.dot

			+e.row
			
				+b.project
			
					+e.img-box
						+e.img(src="assets/img/projects/windmills-2.jpg")
					
					+e.row
						+e.number-box
							+e.SPAN.number 01

							+e.stripe-group
								+e.stripe
								+e.stripe
							
							+e.stripe-group
								+e.stripe
								+e.stripe
						
						
						+e.tags
								+e.SPAN.tag Ecoenergy
								+e.SPAN.tag Construction
						
						+e.bg

					+e.info
						
						+e.H2.heading A sample heading 
						+e.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat dolores neque excepturi consectetur ipsam dolorem ducimus voluptatibus magnam, asperiores omnis minima provident voluptates deserunt facilis, rerum fugit repellat harum cupiditate!
						+e.A.button.link-button__.--color_accent-light(href="#")
							+e.text Read more 
							+e.SVG.icon.arrow-icon
								use(xlink:href="#arrow-icon__arrow2")
			