mixin projects(data)
  +b.projects.section

    +e.container
      +e.row
      
        +b.project

          +e.number-box
          +e.img-box
            +e.img 

          +e.aside-box
            +e.heading 
            +e.tags
            +e.text
            +e.button
      