mixin fullwidthBoxes(data)
	+b.SECTION.fullwidth-boxes.section
		+e.container
			+e.row
				+e.col
					+e.box.fullwidth-box__
						+e.heading
						+e.text
						+e.button.outline-button
						+e.icon