.slider
	@extend .swiper-container

.slider__wrapper
	@extend .swiper-wrapper

.slider__slide
	@extend .swiper-slide

.slider__pagination
	@extend .swiper-pagination

.slider__img
	width: 100%

.slider__heading
	+setAbsPosition(38%, 45%)
	font-family: $heading-font
	font-weight: 800
	font-size: 68px
	white-space: nowrap
	color: $main-light



.slider__subheading
	+setAbsPosition(48%, 50%)
	font-family: $heading-font
	font-weight: 600
	font-size: 68px 
	white-space: nowrap
	color: $main-light

