mixin fwBoxes(data)
	+b.SECTION.fw-boxes
		+e.container
			+e.row
				+e.col
					+e.box.fw-box__.--bg_accent
						+e.heading Designed for you
						+e.text Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimstrud exercitation ullamco laboris nisi ut aliquip ex consequat.

						+e.BUTTON.button.outline-button__.--transparent.--aside
							+e.SPAN.text More designs
							+e.SVG.icon--aside
								use(xlink:href="#fw-box__dribbble")
						+e.SVG.icon
							use(xlink:href="#fw-box__dribbble")
				+e.col
					+e.box.fw-box__.--bg_accent-light
						+e.heading Designed for you
						+e.text Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimstrud exercitation ullamco laboris nisi ut aliquip ex consequat.

						+e.BUTTON.button.outline-button__.--transparent.--aside
							+e.SPAN.text More designs
							+e.SVG.icon--aside
								use(xlink:href="#fw-box__dribbble")
						+e.SVG.icon
							use(xlink:href="#fw-box__dribbble")
				+e.col
					+e.box.fw-box__.--bg_accent2
						+e.heading Designed for you
						+e.text Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimstrud exercitation ullamco laboris nisi ut aliquip ex consequat.

						+e.BUTTON.button.outline-button__.--transparent.--aside
							+e.SPAN.text More designs
							+e.SVG.icon--aside
								use(xlink:href="#fw-box__dribbble")
						+e.SVG.icon
							use(xlink:href="#fw-box__dribbble")