mixin gallery(data)
	+b.gallery.section
		+e.container
			+e.row
				
			+e.row
				+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

			+e.row
				+e.UL.controls.controls__
					+e.item All
					+e.item Recent
					+e.item Collabs
					+e.item Best


			+e.row.img-grid
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="")
				
