mixin gallery(data)
	+b.gallery.section
		+e.container
			+e.row
				+e.heading.section-heading__.--centred Gallery
					+e.dots 
						+e.dot
						+e.dot
						+e.dot
			+e.row
				+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

			+e.row
				+e.UL.controls.inline-controls__
					+e.item 
						+e.link(href="#") All
					+e.item
						+e.link(href="#") Recent
					+e.item 
						+e.link(href="#") Collabs
					+e.item 
						+e.link(href="#") Best


			+e.row.img-grid
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="assets/img/gallery/mountains.jpg")
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="assets/img/gallery/mountains.jpg")
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="assets/img/gallery/mountains.jpg")
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="assets/img/gallery/mountains.jpg")
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="assets/img/gallery/mountains.jpg")
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="assets/img/gallery/mountains.jpg")
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="assets/img/gallery/mountains.jpg")
				+e.col
					+e.A.img-links(href="#")
						+e.img(src="assets/img/gallery/mountains.jpg")

				
