mixin gallery(data)
	+b.gallery.section
		+e.container

			+e.row--centred
				+e.heading.section-heading__.--centred Gallery
					+e.dots 
						+e.dot
						+e.dot
						+e.dot

			+e.row--centred
				+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

			+e.row--centred
				+e.UL.controls.inline-controls__
					+e.item
						+e.link--active(role="button" data-filter="all") All
					+e.item
						+e.link(role="button" data-filter=".gallery-grid--recent") Recent
					+e.item 
						+e.link(role="button" data-filter=".gallery-grid--collabs") Collabs
					+e.item 
						+e.link(role="button" data-filter=".gallery-grid--best") Best

			+e.img-grid

				+e.col.mix.gallery-grid--recent
					+e.A.img-links(href="assets/img/gallery/mountains-thumbnail.jpg")
						+e.img(src="assets/img/gallery/mountains-thumbnail.jpg")
						+e.DIV.img-caption
							+e.H3.img-title A cool title
							+e.P.img-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quis, eum. Nemo fugiat expedita nesciunt dignissimos. 
						+e.SVG.img-zoom-icon
							use(xlink:href="#gallery__zoom_in")

				+e.col.mix.gallery-grid--recent
					+e.A.img-links(href="assets/img/gallery/energy.jpg")
						+e.img(src="assets/img/gallery/energy-thumbnail.jpg")
						+e.DIV.img-caption
							+e.H3.img-title A cool title
							+e.P.img-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quis, eum. Nemo fugiat expedita nesciunt dignissimos. 
						+e.SVG.img-zoom-icon
							use(xlink:href="#gallery__zoom_in")

				+e.col.mix.gallery-grid--recent
					+e.A.img-links(href="assets/img/gallery/plant.jpg")
						+e.img(src="assets/img/gallery/plant-thumbnail.jpg")
						+e.DIV.img-caption
							+e.H3.img-title A cool title
							+e.P.img-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quis, eum. Nemo fugiat expedita nesciunt dignissimos. 
						+e.SVG.img-zoom-icon
							use(xlink:href="#gallery__zoom_in")

				+e.col.mix.gallery-grid--best
					+e.A.img-links(href="assets/img/gallery/mountains-2.jpg")
						+e.img(src="assets/img/gallery/mountains-2-thumbnail.jpg")
						+e.DIV.img-caption
							+e.H3.img-title A cool title
							+e.P.img-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quis, eum. Nemo fugiat expedita nesciunt dignissimos. 
						+e.SVG.img-zoom-icon
							use(xlink:href="#gallery__zoom_in")
				
				+e.col.mix.gallery-grid--best
					+e.A.img-links(href="assets/img/gallery/plant-2.jpg")
						+e.img(src="assets/img/gallery/plant-2-thumbnail.jpg")
						+e.DIV.img-caption
							+e.H3.img-title A cool title
							+e.P.img-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quis, eum. Nemo fugiat expedita nesciunt dignissimos. 
						+e.SVG.img-zoom-icon
							use(xlink:href="#gallery__zoom_in")

				+e.col.mix.gallery-grid--collabs
					+e.A.img-links(href="assets/img/gallery/sea.jpg")
						+e.img(src="assets/img/gallery/sea-thumbnail.jpg")
						+e.DIV.img-caption
							+e.H3.img-title A cool title
							+e.P.img-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quis, eum. Nemo fugiat expedita nesciunt dignissimos. 
						+e.SVG.img-zoom-icon
							use(xlink:href="#gallery__zoom_in")

				+e.col.mix.gallery-grid--collabs
					+e.A.img-links(href="assets/img/gallery/desert.jpg")
						+e.img(src="assets/img/gallery/desert-thumbnail.jpg")
						+e.DIV.img-caption
							+e.H3.img-title A cool title
							+e.P.img-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quis, eum. Nemo fugiat expedita nesciunt dignissimos. 
						+e.SVG.img-zoom-icon
							use(xlink:href="#gallery__zoom_in")

				+e.col.mix.gallery-grid--best
					+e.A.img-links(href="assets/img/gallery/pier.jpg")
						+e.img(src="assets/img/gallery/pier-thumbnail.jpg")
						+e.DIV.img-caption
							+e.H3.img-title A cool title
							+e.P.img-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quis, eum. Nemo fugiat expedita nesciunt dignissimos. 
						+e.SVG.img-zoom-icon
							use(xlink:href="#gallery__zoom_in")

				

				
