mixin teamCards(data)
	+b.SECTION.team-cards.section
		+e.container
			+e.row--centred
				+e.heading.section-heading__.--centred Our team
					+e.dots
						+e.dot
						+e.dot
						+e.dot

			+e.row
				+e.col
					+e.card.team-card__
						+e.img(src='assets/img/team-cards/team-member.jpg')
						+e.content
							+e.ellipses
								+e.ellipse
								+e.ellipse
								+e.ellipse
								+e.ellipse
							+e.name John Doe 
							+e.position Senior web-developer
							+e.UL.socials.socials-row__
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
							+e.button-row
								+e.stripes--left
									+e.stripe
									+e.stripe
									+e.stripe
								+b.BUTTON.outline-button--sz_xs
									+e.text Read more
								+e.stripes--right
									+e.stripe
									+e.stripe
									+e.stripe

				+e.col
					+e.card.team-card__
						+e.img(src='assets/img/team-cards/team-member.jpg')
						+e.content

							+e.ellipses
								+e.ellipse
								+e.ellipse
								+e.ellipse
								+e.ellipse

							+e.name John Doe
							+e.position Senior web-developer

							+e.UL.socials.socials-row__
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")

							+e.button-row
								+e.stripes--left
									+e.stripe
									+e.stripe
									+e.stripe
								+b.BUTTON.outline-button--sz_xs
									+e.text Read more
								+e.stripes--right
									+e.stripe
									+e.stripe
									+e.stripe
				+e.col
					+e.card.team-card__
						+e.img(src='assets/img/team-cards/team-member.jpg')
						+e.content

							+e.ellipses
								+e.ellipse
								+e.ellipse
								+e.ellipse
								+e.ellipse

							+e.name John Doe
							+e.position Senior web-developer

							+e.UL.socials.socials-row__
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")
								+e.A.item(href="#")
									+e.background
									+e.SVG.icon
										use(xlink:href="#socials-row__github")

							+e.button-row
								+e.stripes--left
									+e.stripe
									+e.stripe
									+e.stripe
								+b.BUTTON.outline-button--sz_xs
									+e.text Read more
								+e.stripes--right
									+e.stripe
									+e.stripe
									+e.stripe