mixin numbersRow(data)
	+b.SECTION.numbers-row
		+e.container
			+e.row
			
				+e.col
					+e.SVG.icon
						use(xlink:href="#numbers-row__blocks")
					+e.number 20+
					+e.description Unique blocks 

				+e.col
					+e.SVG.icon
						use(xlink:href="#numbers-row__blocks")
					+e.number 1000+
					+e.description Sales

				+e.col
					+e.SVG.icon
						use(xlink:href="#numbers-row__blocks")
					+e.number 1000+
					+e.description Sales

				+e.col
					+e.SVG.icon
						use(xlink:href="#numbers-row__blocks")
					+e.number 1000+
					+e.description Sales