mixin numbersRow(data)
	+b.SECTION.numbers-row
		+e.container
			+e.row
			
				+e.col
					+e.SVG.icon
						use(xlink:href="#numbers-row__blocks")
					+e.number(data-count-to="20" data-sign="true") 20+
					+e.description Unique blocks 

				+e.col
					+e.SVG.icon
						use(xlink:href="#numbers-row__blocks")
					+e.number(data-count-to="1000" data-sign="true") 1000+
					+e.description Sales

				+e.col
					+e.SVG.icon
						use(xlink:href="#numbers-row__blocks")
					+e.number(data-count-to="200") 1000+
					+e.description Sales

				+e.col
					+e.SVG.icon
						use(xlink:href="#numbers-row__blocks")
					+e.number(data-count-to="520") 1000+
					+e.description Sales