extends /templates/layout/_layout.pug

include /templates/nav-bar/_nav-bar.pug
include /templates/search-screen/_search-screen.pug
include /templates/menu-screen/_menu-screen.pug
include /templates/text-section/_text-section.pug
include /templates/contact-info/_contact-info.pug
include /templates/preloader/_preloader.pug
include /templates/footer/_footer.pug

block head
	- var pageTitle = 'Greeny';
	- var stylesheets = ['about.css']

block content
	include /assets/symbol.svg
	+navBar()
	+preloader()
	+searchScreen()
	+menuScreen()
	+textSection()
	+contactInfo()
	+footer()

	include /templates/photo-swipe/_photo-swipe.html   
	- var scripts = ['about.js'];
