extends /templates/layout/_layout.pug

include /templates/nav-bar/_nav-bar.pug
include /templates/hero/_hero.pug
include /templates/outline-boxes/_outline-boxes.pug
include /templates/aside-image/_aside-image.pug
include /templates/slider-row/_slider-row.pug
include /templates/tree-tabs/_tree-tabs.pug
include /templates/numbers-row/_numbers-row.pug
include /templates/team-cards/_team-cards.pug
include /templates/gallery/_gallery.pug
include /templates/fw-boxes/_fw-boxes.pug
include /templates/news-row/_news-row.pug
include /templates/footer/_footer.pug

block head
	- var pageTitle = 'Greeny';
	- var stylesheets = ['index.css']

block content
	include /assets/symbol.svg
	+navBar()
	+hero()
	+outlineBoxes()
	+asideImage()
	+sliderRow()
	+treeTabs()
	+numbersRow()
	+teamCards()
	+gallery()
	+fwBoxes()
	+newsRow()
	+footer()
	
	include /templates/photo-swipe/_photo-swipe.html
	- var scripts = ['index.js']
