extends /templates/layout/_layout.pug

include /templates/nav-bar/_nav-bar.pug
include /templates/hero/_hero.pug
include /templates/outline-boxes/_outline-boxes

block head
	- var pageTitle = 'Greeny';
	- var stylesheets = ['index.css']

block content
	include /assets/symbol.svg
	+navBar()
	+hero()
	+outlineBoxes()
	- var scripts = ['index.js']
