mixin asideImage(data)
	+b.SECTION.aside-image.section
		+e.container
			+e.row--revresed_lg

				+e.col-3
					+e.H2.heading.section-heading__.--centred.--left_lg About us
						+e.dots
							+e.dot
							+e.dot
							+e.dot

					+e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					+e.P.text Duis aute irure dolor in reprehenderit in voluptate veli cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non qui officia deserunt mollit anim id est laborum  incididunt ut labore.
					+e.buttons
						+b.BUTTON.outline-button.--color_accent2.--sz_sm.aside-image__button
							+e.SPAN.text Contact us 
						+b.BUTTON.main-button.--bg_accent2.--sz_sm.aside-image__button
							+e.SPAN.text Learn more 
							+e.SVG.icon.arrow-icon__
								use(xlink:href='#arrow-icon__arrow2')

				+e.col-2
					+e.img-link(href='#')
						+e.img(src='assets/img/about-us/about-us.jpg' alt='')
				
				+e.col-1
					+e.side-box.side-box__
						+e.H3.heading Your title
						+e.text Your wisely written description goes here. Lorem ipsum dolor sit a conseur adipisicing elit, sed do eiusmod tempor incididunt ut
					+e.img-link--displayed_lg(href='#')
						+e.img(src='assets/img/about-us/about-us.jpg' alt='')

				