mixin footer(data)
  +b.FOOTER.footer.section
    +e.container
      +e.row
        +e.col
          +e.logo
          +e.info
          +e.socials
        +e.col
          +e.UL.latest-tweets
            +e.tweet
            +e.tweet
        +e.col
          +e.nav-bar
        +e.col
          +e.subscribe-box
    +e.contianer
      +e.row
        +e.copyright
