/* ==========================================================================
   FONTS
   ========================================================================== */

$default-font: 'Open Sans', Arial, sans-serif
$heading-font: 'Baloo Bhaina', sans-serif 

/* ==========================================================================
   COLORS
   ========================================================================== */

$main-dark: #363636
$main-light: #fff

/* ==========================================================================
   CUSTOM
   ========================================================================== */
