mixin treeTabs(data)
	+b.SECTION.tree-tabs.section

		+e.container
			+e.row--centred
				+e.H2.heading.section-heading__.--centred Why choose us?
					+e.dots
						+e.dot
						+e.dot
						+e.dot

		+e.container
			+e.row
			
				+e.col-1

					+e.tab-box.tab-box__.--active
						+e.heading Bringing your ideas to life
						+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						+e.UL.list.bullet-list__
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback

					+e.tab-box.tab-box__
						+e.heading Bringing your ideas to life
						+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						+e.UL.list.bullet-list__
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback	

					+e.tab-box.tab-box__
						+e.heading Bringing your ideas to life
						+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						+e.UL.list.bullet-list__
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback
							+e.item 
								+e.SVG.bullet
									use(xlink:href="#bullet-list__bullet")
								+e.text We respect your opinion and love feedback	

				+e.col-2
					+e.tree-wrapper
						+e.tree-block
							+e.SVG.tree
								use(xlink:href="#tree-tabs__tree")
							+e.tab-controls.tab-controls__.--reversed_sm
								+e.control--active(role="button")
									+e.icon-bg
										+e.SVG.icon
											use(xlink:href="#tab-controls__lightbulb")
								+e.control(role="button")
									+e.icon-bg
										+e.SVG.icon
											use(xlink:href="#tab-controls__people")
								+e.control(role="button")
									+e.icon-bg
										+e.SVG.icon
											use(xlink:href="#tab-controls__work")