.hero
	@extend .container-fluid
	background-color: $accent-2-dark
	overflow-x: hidden

.hero__row
	@extend .row

.hero__boxes-row
	position: static
	z-index: 2
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	margin-right: -15px
	margin-left: -15px
	+media-breakpoint-up(xl)
		flex-direction: row
		position: absolute
		bottom: 0
		left: 0
		margin: 0
