include ../scripts/_scripts
include ../../../node_modules/bemto.pug/bemto

- set_bemto_settings({ modifier: '--' })

doctype html
html(lang='en')
	include ../head/_head.pug
	+b.BODY.page
		block content
		+scripts(scripts)