+b.SECTION.hero
	+e.row
		+e.slider.slider__
			+e.wrapper
				+e.slide
					+e.img(src='assets/img/slider/1.jpg')
					+e.H1.heading This is a hero headline
					+e.H2.subheading Learn more about it
				+e.slide
					+e.img(src='assets/img/slider/2.jpg')
					+e.H1.heading HELLO WORLD!
				+e.slide
					+e.img(src='assets/img/slider/1.jpg')
			+e.pagination
	+e.row
		+e.box.content-box__
			+e.heading
			+e.content
